@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
  height: 100vh;
  background: var(--body-background-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-size: 0.8125rem;
}

:root {
  --hidden-background-color: hsl(217, 19%, 35%);
  --body-background-color: hsl(210, 46%, 95%);
  --light-gray: hsl(214, 17%, 51%);
  --gray-blue-font-color: hsl(212, 23%, 69%);
}

main {
  width: 90vw;
  height: 80vh;
  background-color: #fff;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.img-contain {
  display: flex;
  position: relative;
  height: 40%;
}

.img-contain img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.content h1 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  color: hsl(217, 19%, 35%);
}

.content p {
  color: hsl(217, 19%, 35%);
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: 500;
  line-height: 2;
}

.row {
  height: 91px;
  padding: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  gap: 1rem;
}

.left img {
  height: 3rem;
  border-radius: 50%;
}

.left h2 span {
  font-size: 1rem;
  font-weight: 500;
  color: var(--light-gray);
}

.left h2 {
  color: hsl(217, 19%, 35%);
  font-size: 1.2rem;
  font-weight: 700;
}

#btn {
  min-width: 3rem;
  min-height: 3rem;
  border: none;
  border-radius: 50%;
}

#btn:hover {
  background: var(--light-gray);
}

.mobile {
  background: var(--body-background-color);
}

.desktop {
  background: var(--light-gray);
}

#btn:hover {
  cursor: pointer;
}

.path-desktop {
  fill: #fff;
}

.hidden {
  padding: 2rem;
  width: 100%;
  text-transform: uppercase;
  display: none;
  align-items: center;
  justify-content: space-between;
  background-color: var(--hidden-background-color);
}

.hidden h3 {
  color: var(--light-gray);
  letter-spacing: 0.5rem;
  font-weight: 500;
  font-size: 1.5rem;
}

.hidden-active {
  display: flex;
}

.row-hide {
  display: none;
}

#back-btn {
  border: none;
  min-width: 3rem;
  min-height: 3rem;
  border-radius: 50%;
  background-color: var(--light-gray);
}

#back-btn path {
  fill: var(--body-background-color);
}

#back-btn:hover {
  cursor: pointer;
}

@media screen and (width >= 45rem) {
  main {
    display: flex;
    flex-direction: row;
    height: 22rem;
    width: 60rem;
    border-radius: 1rem;
    position: relative;
    overflow: initial;
  }
  .img-contain {
    height: 100%;
    width: 60%;
  }
  .img-contain img {
    overflow: hidden;
    border-radius: 1rem 0 0 1rem;
  }
  .content {
    justify-content: space-between;
    height: 100%;
    width: 100%;
    position: relative;
  }
  .content h1 {
    font-size: 1.5rem;
  }
  .content p {
    line-height: 1.6;
    font-size: 1rem;
  }
  .hidden {
    position: absolute;
    height: 2.5rem;
    width: 18.75rem;
    border-radius: 1.1rem;
    bottom: 30%;
    left: 65%;
  }
  .hidden h3 {
    font-size: 1rem;
  }
  #back-btn {
    display: none;
  }
  .hidden::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 0.625rem solid transparent;
    border-right: 0.625rem solid transparent;
    border-top: 0.625rem solid var(--hidden-background-color);
  }
}
