@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
  height: 100vh;
  background: var(--body-background-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-size: 0.8125rem;
}

:root {
  --hidden-background-color: hsl(217, 19%, 35%);
  --body-background-color: hsl(210, 46%, 95%);
  --light-gray: hsl(214, 17%, 51%);
}

main {
  width: 90vw;
  height: 80vh;
  background-color: #fff;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

main img {
  max-height: 40%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.content h1 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
}

.content p {
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: 500;
  line-height: 2;
}

.row {
  height: 91px;
  padding: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  gap: 1rem;
}

.left img {
  height: 3rem;
  border-radius: 50%;
}

.row h2 {
  font-size: 1.2rem;
}

#btn {
  min-width: 3rem;
  min-height: 3rem;
  border: none;
  background: var(--body-background-color);
  border-radius: 50%;
}

#btn:hover {
  cursor: pointer;
}

.hidden {
  padding: 2rem;
  width: 100%;
  text-transform: uppercase;
  display: none;
  align-items: center;
  justify-content: space-between;
  background-color: var(--hidden-background-color);
}

.hidden h3 {
  color: var(--body-background-color);
  letter-spacing: 0.25rem;
  font-weight: 500;
  font-size: 1.5rem;
}

.hidden-active {
  display: flex;
}

.row-hide {
  display: none;
}

#back-btn {
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--light-gray);
}

#back-btn path {
  fill: var(--body-background-color);
}

#back-btn:hover {
  cursor: pointer;
}

@media screen and (width >= 35rem) {
  main {
    display: grid;
    grid-template-columns: repeat(2, auto);
    height: 40vh;
    width: 60vw;
    border-radius: 1rem;
  }
  #main-img {
    object-fit: cover;
    min-height: 100%;
    width: 100%;
  }
  .content {
    padding: 1.5rem;
    display: flex;
    min-height: 100%;
  }
  .content h1 {
    font-size: 1.8rem;
  }
  .content p {
    font-size: 1rem;
  }
  .row {
    position: relative;
  }
  .hidden {
    height: 2.5rem;
    width: 15.625rem;
    position: absolute;
    bottom: 6.25rem;
    left: 6.25rem;
  }
  .row-desktop {
    display: flex;
  }
}
